@{
    ViewData["Title"] = "Home Page";
}

@section styles {
    <link rel="stylesheet" href="~/dist/style.6e45d99ee3a9c6a2d74d.css?cf433f531da56b59d0ff">
}
<div id="app-root">Something awesome is coming...</div>

@section scripts {
    <script src="~/dist/vendor.584d115ceaf2f0e28503.js?cf433f531da56b59d0ff"></script>
    <script src="~/dist/main.90498ca134057aedc968.js?cf433f531da56b59d0ff"></script>
}
