@{
    ViewData["Title"] = "Home Page";
}

@section styles {
    <link rel="stylesheet" href="~/dist/style.4020b992c03b026141dd.css?d2242f0a14bc60928dc8">
}
<div id="app-root">Something awesome is coming...</div>

@section scripts {
    <script src="~/dist/main.8b939332955b40d2b207.js?d2242f0a14bc60928dc8"></script>
}
