@{
    ViewData["Title"] = "Home Page";
}

@section styles {
    <link rel="stylesheet" href="~/dist/style.6e45d99ee3a9c6a2d74d.css?296c5d97e36b4b7f767d">
}
<div id="app-root">Something awesome is coming...</div>

@section scripts {
    <script src="~/dist/vendor.584d115ceaf2f0e28503.js?296c5d97e36b4b7f767d"></script>
    <script src="~/dist/main.cbb46fe12888c0dba46d.js?296c5d97e36b4b7f767d"></script>
}
