@{
    ViewData["Title"] = "Home Page";
}

@section styles {
    <link rel="stylesheet" href="~/dist/style.6e45d99ee3a9c6a2d74d.css?1c5ceb03f16395a5c123">
}
<div id="app-root">Something awesome is coming...</div>

@section scripts {
    <script src="~/dist/vendor.584d115ceaf2f0e28503.js?1c5ceb03f16395a5c123"></script>
    <script src="~/dist/main.27dec449c37ccfcfb1fa.js?1c5ceb03f16395a5c123"></script>
}
