$font-primary: 'Roboto', sans-serif;
$font-size: 200;
$primary: #0D47A1;
$secondary: #848484;
$ternary: #AAAAAA;
$primary-dark: #0D0D0D;
$background: #F9F9F9;
$background-invert: darken($background, 80%);

$navigation-span: 160px;
