@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400");
@import './_variables';
@import './_nav';

* {
    margin: 0 0;
}

html, body, main {
    height: 100%;
}

html {
    font-family: $font-primary;
    font-size: $font-size;
    background: $background;
    color: $primary;
}

.logo {
    width: 120px;
    height: 49px;
    border: 0;
    padding: 5px;
    vertical-align: middle;
}

header {
    text-align: center;
    width: 100%;
    height: 60px;
}

header span {
    padding: 5px 10px 5px 5px;
}

main {
    flex: 1;
}

.content {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

article {
    width: 80%;
    min-height: 200px;
    margin: 0 auto;
    padding-top: 20px;
}

article h1 {
    padding-bottom: 10px;
}

section {
    text-align: justify;
    max-width: 60%;
}

select {
    background: white;
    padding: 5px;
}

footer {
    width: 100%;
    text-align: center;
    padding: 5px 0;
}

@media screen and (max-width: 545px) {

    main {
        padding-top: 30px;
    }
}

@media screen and (max-width: 768px) {

    section {
        max-width: 100%;
    }    
}
