@{
    ViewData["Title"] = "Home Page";
}

@section styles {
    <link rel="stylesheet" href="~/dist/style.6e45d99ee3a9c6a2d74d.css?9708653bc96ba89fdd59">
}
<div id="app-root">Something awesome is coming...</div>

@section scripts {
    <script src="~/dist/vendor.584d115ceaf2f0e28503.js?9708653bc96ba89fdd59"></script>
    <script src="~/dist/main.2baf3179b283f2bc2311.js?9708653bc96ba89fdd59"></script>
}
